*{
    box-sizing: border-box;
}

.nav{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: stretch;
    padding: 10px;
    gap:25px;
    background-color: darkslategrey;
    color: antiquewhite;
    height: 60px;

}

.list{
    display: flex;
    list-style-type: none;
     justify-content: center;
    text-align: center;
    align-items: stretch;
    gap:25px;
    text-decoration: none;
}

a{
    display: flex;
    justify-content: center;
    flex-direction: column;
}