*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.border-box{
    width: 200px;
    height:120px;
    border: 5px solid black;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 5px;
}

.content-box{
    width: 220px;
    height:120px;
    border:5px solid red;
    box-sizing: content-box;
    text-align: center;
}