*{
    font-family: 'Times New Roman', Times, serif;
}

.box{
    margin: 30px;
    height: 200px;
    width: 200px;
    padding: 20px;
    border: 5px solid black;
    box-sizing: border-box;
    text-align: center;
}