*{
    font-family: Arial, Helvetica, sans-serif;
}

.solid{
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: yellow;
    border: 5px solid black;
    margin-bottom: 5px;
}

.dashed{
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color:blue;
    border: 5px dashed black;
    margin-bottom: 5px;
}

.double{
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color:lightcoral;
    border: 5px double black;
}