* {
    box-sizing: border-box;
    background: #0f172ae9;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    color:#e6eef8;
}

header {
    text-align: center;
    margin-bottom: 25px;
}

footer {
    text-align: center;
}

.container {
    text-align: center;
    display: flex;
    gap: 5px;
    width: 100%;
    height: 400px;
    padding: 10px;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.Basic {
    height: 350px;
    width: 320px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 2px solid rgb(226, 36, 36);
    border-radius: 10px;
}

.pro {
    height: 350px;
    width: 320px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border: 2px dotted rgb(68, 68, 136);
    border-radius: 10px;
}

.Enterprise {
    height: 350px;
    width: 320px;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border: 5px double rgb(28, 196, 243);
    border-radius: 10px;
}

button {
    background:#08afd9;
    color: #d3dbde;
    margin: 20px;
    border-radius: 5px;
}

.muted {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.06);
    color: inherit
}

.smallborder-imgSample {
    padding: 5px;
    border: 2px bisque solid;
    border-radius: 10px;
}

.smallborder-groove {
    padding: 10px;
    border-style: groove;
    border-radius: 5px solid yellow;
}

.smallborder-inside {
    border: #042027 solid 1px;
    border-radius: 10px;
    border-block-color: violet;
}

.smallborder-outside {
    border-radius: 10px;
    border-style: inset;
    margin: 4px;
}

button:hover {
    background: #f0edea;
    color: #042027;
}

.muted:hover {
    color: blueviolet;
}

.smallborder-imgSample:hover {
    color: violet;
}