*{
    font-family: 'Times New Roman', Times, serif;
    margin: 12px 0;
}

.notification1{
    width: 90%;
    height: 40px;
    background-color: aquamarine;
    color: darkcyan;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-left: 5px solid rgb(1, 94, 61);

}

.notification2{
    width: 90%;
    height: 40px;
    background-color: rgb(154, 206, 239);
    color: rgb(5, 94, 142);
    padding: 10px;
    border-radius: 5px;
    border-left: 5px solid rgb(5, 94, 142);
}