.container {
    margin: 60px;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.form {
    border: 2px transparent grey;
    border-radius: 2px;
    width: 350px;
    height: 100px;
    padding: 20px;
    background-color: rgb(182, 233, 241);
    text-align: center;
    box-shadow: 0px 4px 8px rgba(177, 170, 170, 0.3);
}

h1 {
    color: rgb(26, 26, 30);
}

#result {
    margin-top: 1rem;
    font-weight: bold;
    font-size: x-large;
}