 * {
     box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
 }

 .login-con {
     color: rgb(13, 84, 25);
     margin-left: 600px;
     margin-top: 100px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     align-items: center;
     align-content: center;
     justify-content: center;
     width: 300px;
     height: 500px;
     background-color: rgb(236, 233, 229);
     box-shadow: 0px 4px 8px rgba(13, 13, 13, 0.8);
     border-radius: 10px;
 }

 .label-con {
     margin: 10px;
     padding: 20px;
     gap: 20px;
     display: flex;
     flex-direction: column;
 }

 .btn {
     display: flex;
     gap: 10px;
 }

 button {
     width: 60%;
     color: aliceblue;
     text-align: center;
     cursor: pointer;
     align-items: center;
     background-color: rgb(95, 148, 234);
     border-radius: 5px;
     border: none;
     height: 25px;
 }

 button:hover {
     background-color: rgb(92, 92, 234);
 }

 #message {
     text-align: center;
     margin-top: 10px;
     font-weight: bold;
 }