* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.container {
    margin-top: 100px;
    margin-left: 600px;
}

.calc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 500px;
    width: 300px;
    text-align: center;
    align-items: center;
    text-decoration: solid;
    padding: 20px;
    margin: 20px;
    border: 2px transparent gray;
    border-radius: 10px;
    gap: 20px;
    background-color: rgb(213, 209, 209);
    box-shadow: 0px 4px 8px rgba(177, 170, 170, 0.5);
}

button {
    color: aliceblue;
    width: 60%;
    cursor: pointer;
    align-items: center;
    background-color: rgb(95, 148, 234);
    border-radius: 5px;
    border: none;
    height: 25px;
}

button:hover {
    background-color: rgb(92, 92, 234);
}

#result {
    color: red;
}