* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.calender {
    background-color: whitesmoke;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 300px;
    height: 400px;
    margin-left: 600px;
    margin-top: 100px;
    box-shadow: 0px 4px 8px rgba(177, 170, 170, 0.9);
}

button {
    width: 40%;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
    align-items: center;
    background-color: rgb(95, 148, 234);
    border-radius: 5px;
    border: none;
    height: 25px;
}

button:hover {
    background-color: rgb(4, 4, 241);
}

#result {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: red;
}