* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.students-grade {
    width: 300px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: none;
    border-radius: 10px;
    background-color: rgb(242, 243, 245);
    gap: 20px;
    margin-left: 600px;
    margin-top: 100px;
    box-shadow: 0px 4px 8px rgba(177, 170, 170, 0.9);
}

button {
    width: 30%;
    color: aliceblue;
    text-align: center;
    cursor: pointer;
    align-items: center;
    background-color: rgb(95, 148, 234);
    border-radius: 5px;
    border: none;
    height: 25px;
}

button:hover {
    background-color: rgb(15, 99, 235);
}

#result {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    color: red;
}