body {
  font-family: Arial, sans-serif;
  background-color: #fbf8f8;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}