.send-btn{
    height: 40px;
    width: 80px;
    border-radius: 8px;
    padding: 12px 18px;
    color: black;
    background-color: rgb(11, 148, 102);
    position:fixed;
    right:20px;
    bottom: 10px;
}