#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(255, 255, 255);
  color: rgb(8, 82, 239);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
