.input-container {
  text-align: center;
  margin-top: 20px;
}

.input-container input {
  padding: 10px;
  width: 220px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.input-container p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}
