.toggle-container {
  text-align: center;
  margin-top: 20px;
}

.toggle-btn {
  padding: 10px 18px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 12px;
}

.toggle-btn:hover {
  background-color: #f1f10d;
  color: #ec0b0b;
}

.toggle-text {
  font-size: 16px;
  color: #333;
  margin-top: 8px;
}
