
.profile-container{
    height: 350px;
    width: 600px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid black transparent;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    margin: 200px 400px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.name{
    text-align: center;
    padding: 5px;
    word-spacing: 0.2px;
    margin: 5px;
    font-size: 40px;
    font-weight: 100;
    color: rgb(247, 242, 242);
}

h2{
    text-align: center;
    margin: 25px;
    word-spacing: 0.2px;
    text-decoration:underline;
    font-size: 50px;
}

p{
  text-align: center;
  padding: 5px;
  opacity: 0.9;
  color: rgb(13, 13, 13);
  line-height: 1.6;
}