.container {
    display: flex;
    height: 300px;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: aliceblue;
    padding: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url("/Images/SmartWatch.jpg") top/cover no-repeat;
}

.MyWebsite-container h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}

.MyWebsite-container p {
    font-size: 18px;
    font-family: Arial, sans-serif;
    opacity: 0.9;
}