.hero-sec {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 350px;
    top: 100px;
    font-size: 20px;
    background: linear-gradient(rgb(234, 6, 120), rgb(136, 7, 241), rgba(26, 119, 200, 0.499));
    color: aliceblue;
    padding: 20px;
}

.hero-div h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;

    /* Text Effects */
    text-transform: uppercase;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);

}

.hero-div p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 300;
    margin-top: 10px;

    /* Glow Effect */
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
}

.hero-sec button {
    margin-top: 25px;
    padding: 12px 26px;
    border: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    color: #4c1fff;
    font-weight: 600;
    transition: 0.3s;
    margin-left: 35%;

}

.hero-sec button:hover {
    background: #ffe6f3;
    transform: scale(1.05);
}

