.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1cc88a, #36b9cc);
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
}

li {
  list-style: none;
  padding: 6px;
  border-bottom: 1px solid #eee;
}