.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #667eea, #764ba2);
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
}

.number {
  font-size: 40px;
  color: #667eea;
}

button {
  padding: 10px 20px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}