* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body {
    background: whitesmoke;
    padding: 20px;
}

.container {
    width: 100%;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading Styles */
h2 {
    color: #2a4d69;
    margin-bottom: 10px;
}

h3 {
    color: #4b86b4;
    margin-top: 25px;
    margin-bottom: 10px;
}

h4 {
    color: #adcbe3;
    margin-bottom: 8px;
}

/* Textarea styling */
textarea {
    width: 100%;
    height: 90px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Section box */
.section {
    margin-bottom: 25px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}