*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    font: size 5px;
}

.header{
    text-align: center;
    padding: 50px 20px;
    color: aliceblue;
    background-color: rgb(12, 238, 163);
}

.about-me{
    text-align: center;
    padding: 50px 20px;
    color: black;
    background-color: bisque;
}

.services{
    text-align: center;
    padding: 50px 20px;
    color:darkgoldenrod;
    background-color: blueviolet;
}

.contact{
    text-align: center;
    padding: 50px 20px;
    color: coral;
    background-color: cornflowerblue;
}

footer{
    text-align: center;
    padding: 10px;
    color: black;
    background-color: brown;
}