body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

/* Chat Container */
.chatscreen {
    flex: 1;
    display: flex;
    flex-direction:column-reverse; /* Messages from bottom to top */
    overflow-y: auto;
    padding: 10px;
    background: #f5f5f5;
    gap: 10px;
}

.msg {
    padding: 12px;
    max-width: 70%;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.msg-self {
    background: #d7f5d0;
    margin-left: auto;
    padding: 2px;
}

/* Input Area */
.input-msgbox {
    display: flex;
    padding: 10px;
    background: white;
    border-top: 1px solid #ddd;
}

.input-msgbox input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.input-msgbox button {
    margin-left: 10px;
    padding: 10px 16px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}